body {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.section {
    margin-top:10px;
    background-color: ghostwhite;
}

#news{
    height: 260px;
    overflow-y: scroll;
}

.section-header {
    margin-top: 100px;
    position: relative;
}

.section-title {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 100%;
}

.section-title-white {
    color: ghostwhite;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
